<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>{{TITULO}}</title>
    <link rel="stylesheet" href="../site/style.css" />
  </head>
  <body>
    <header>
      <h1>{{TITULO}}</h1>
      <nav>
        <a href="index.html">Início</a>
        <a href="cardapio_alimentos.html">Alimentos</a>
        <a href="cardapio_bebidas.html">Bebidas</a>
        <a href="cardapio_jogos.html">Jogos</a>
      </nav>
    </header>

    <main>{{CONTEUDO}}</main>

    <footer>
      <p>&copy; 2025 Bar Jogos & Diversão</p>
    </footer>
  </body>
</html>
